# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
.installed.cfg
*.egg
venv/

# Virtual environments
.venv/
env/
ENV/

# Coverage reports
htmlcov/
.coverage
.coverage.*
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# Environment variables
.env

# Database
instance/
*.sqlite

# Flask file
.flaskenv

# IDE specific files
.vscode/
.idea/
*.sublime-workspace

# Operating System files
.DS_Store
Thumbs.db
